[2019-12-02 18:14] lloan opened #2 "As a user, I want to keep track of my overall progress in a course."

[2019-12-02 18:14] lloan opened #3 "As a user, I want to see all the assignments for a course from my dashboard."

[2019-12-02 18:14] lloan opened #4 "As a user, I want to be able to submit assignments from my dashboard."

[2019-12-02 18:14] lloan opened #5 "As a user, I want to be able to access the syllabus for a course from my dashboard."

[2019-12-02 18:14] lloan opened #6 "As a user, I want to be able to access notes left on my homework by the instructor."

[2019-12-02 18:14] lloan opened #7 "As an instructor, I want to be able to leave notes on homework submitted by a user."

[2019-12-02 18:15] lloan opened #8 "As a user, I want to have a calendar to keep track of assignments and any other special dates for the courses I'm taking."

[2019-12-02 18:15] lloan opened #9 "As an instructor, I want to be able to pass or fail students in a course."

[2019-12-02 18:15] lloan opened #10 "As an instructor, I want to be able to give points to students. Examples include: homework turned in, projects submitted, interactions, etc."

[2019-12-02 18:15] lloan opened #11 "As a user, I want to have access to a resource list for each course."

[2019-12-02 18:15] lloan opened #12 "As a user, I want to have access to a resource list for each assignment."

[2019-12-02 18:15] lloan opened #13 "As an instructor, I want to be able to mark attendance for my courses"

[2019-12-02 18:15] lloan opened #14 "As a product owner, I want to track how often users log in to the learning portal and what pages are viewed (profile, dashboard, course, etc.)"

[2019-12-02 18:15] lloan opened #15 "As a user, I want to have access to a resource list for each project."

[2020-01-01 03:00] lloan opened #18 "As an instructor, I want to be able to create a new course."

[2020-01-10 20:09] lloan opened #20 "As a user, I want to land on my dashboard after signing in."

[2020-01-10 20:09] lloan opened #21 "As an instructor, I want to manage students status in courses I manage."

[2020-01-10 20:09] lloan opened #22 "As a student, I want to communicate with the instructor and students."

[2020-01-10 20:09] lloan opened #23 "As a student, I want to update my personal information."

[2020-01-10 20:09] lloan opened #24 "Record every time a user logs in to their accounts (last_login)"

[2020-01-10 20:09] lloan opened #25 "As a user, I want to have a profile page to show my information."

[2020-01-13 14:56] lloan opened #27 "As a user, I want to have a dashboard where I have access to tools."

[2020-01-13 14:56] lloan opened #28 "As a user, I want to be able to navigate between the dashboard and the frontend."

[2020-01-13 15:04] lloan opened #29 "Create example environment file"
Components that require updating:
- new file

Tech to be used:
- none

**What is the current behavior:**
The .env file was removed and we have no example for future developers to model their .env file off of.

**What is the new behavior:**
To avoid having issues with .env files, let's create a file called .env-example with the placeholder data our original .env file had. This is the same approach

[2020-01-13 15:05] lloan commented on #29
Original .env file was removed in #26 - reference that PR for additional information.

[2020-01-13 18:30] Maxbrain0 opened #30 "Reinforcement of OOB types for Next.js and Typescript."
**Components that require updating:**
- Next.js typings

**Tech to be used:**
- Next.js
- Typescript

**What is the current behavior:**
We explicitly importing types from index.d.ts to avoid name clashes (eg, Request is also a built in type for the built-in fetch API). Try to use out of the box types as much as possible without sacrificing type support for sake of making linter happy.

**What is t

[2020-01-14 21:59] lloan opened #31 "Update the documentation to reflect project"
Components that require updating:
- README.md file

Tech to be used:
- Markdown

What is the current behavior:
The current readme file has the information for the next-authenticate project.

What is the new behavior:
The readme should talk about what the Spark LMS is or at least the purpose. We can have all the required sections, such as getting started, technology this is built with, members work

[2020-01-14 22:10] lloan commented on #30
@Maxbrain0 great suggestion, this has been groomed and updated. Can you take a look at this? Create a new branch off of the master branch for this enhancement and push up to dev tier as you test. I think this has a high priority as it would make working on the rest of the project much easier.

Save what you do to the project here and if you have time and are interested in submitting a PR for next-

[2020-01-14 22:30] Maxbrain0 commented on #30
@lloan,

Alright, I already played around with this yesterday. I may touch base with you or @tonynguyen111997.

Which one of you mainly handled the logic inside of _app? I ask because there was some logic where state was first null, but then became either a boolean or string for handling redirects. What I have currently seems to work, but I worry I introduced a bug.

Also going to look into branch

[2020-01-14 22:34] lloan opened #32 "Creation of dev, stg and prd tier databases for application."
**Components that require updating:**
- Server services

**Tech to be used:**
- MySQL
- Ubuntu
- Shell

**What is the current behavior:**
We currently have a remote DB for our project, where local work and development work will be using.

**What is the new behavior:**
We need to create multiple tiers of the database.
- [x] Development tier -> spark_dev_db
- [x] Create user for dev DB
- [x] Staging

[2020-01-14 22:35] lloan commented on #32
@Andymendez100 this is ready to pick up, it has been assigned to you. Once you are ready, let me know and I'll send you access to the mySQL server.

[2020-01-14 22:44] RA1990 commented on #31
I pick this one up

[2020-01-14 23:04] lloan opened #33 "Add support for new tier domains via nginx with SSL certificates"
**Components that require updating:**
- Server

**Tech to be used:**
- Nginx
- SSL
- Certbot
- Shell

**What is the current behavior:**
We currently don't have sub-domain names.

**What is the new behavior:**
We need to add support for newly added sub-domains (in DNS host) via Nginx and install SSL certificate for each tier.

- PRD tier will be spark.iesd.com - port 6001
- STG tier will be spark-s

[2020-01-14 23:05] lloan opened #34 "Setup sub-domains for dev, stg and prd tiers for application"
**Components that require updating:**
- DNS Host

**Tech to be used:**
- DNS management

**What is the current behavior:**
We currently don't have sub-domain names.

**What is the new behavior:**
We need to setup the sub-domains via management host tool.
- [ ] Add sub-domains via DNS Management tool (dev, stg, prd)
- PRD tier will be spark.iesd.com
- STG tier will be spark-stg.iesd.com
- DEV tier

[2020-01-14 23:20] lloan commented on #28
This will require a few tasks to be created. List of tasks below:
- Design navigation component
- Proof of concept for navigation component
- Implement navigation component

[2020-01-14 23:37] lloan commented on #31
@RA1990 You can use this url for the spark logo: https://raw.githubusercontent.com/inland-empire-software-development/spark/staging/public/images/spark.png

Just keep in mind that I'm going to be uploading the logos as they're supposed to be used, based on the brand guidelines I provided earlier this week.

I merged #35 - the PR - you can go and take a look.

Take a look at the main repository for

[2020-01-14 23:39] RA1990 commented on #31
you got it

[2020-01-14 23:52] lloan opened #36 "Design navigation component"
**Components that require updating:**
- Navigation

**Tech to be used:**
- Design tools

**What is the current behavior:**
We currently don't have a navigation component.

**What is the new behavior:**
Create a design PDF and for developers to convert it to code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the i

[2020-01-14 23:52] lloan opened #37 "Proof of concept for navigation component"
**Components that require updating:**
- Navigation

**Tech to be used:**
- UIKit
- HTML/SASS
- Fontawesome Pro

**What is the current behavior:**
We currently don't have a navigation component.

**What is the new behavior:**
Create a proof of concept using HTML/CSS. Take the design PDF and convert it to code. You will be using UIKit as the CSS library along with Fontawesome PRO icons. Any comments

[2020-01-14 23:52] lloan commented on #37
Currently blocked by #36

[2020-01-14 23:52] lloan opened #38 "Implement navigation component"
**Components that require updating:**
- Navigation

**Tech to be used:**
- Next.js
- React
- Typescript

**What is the current behavior:**
We currently don't have a navigation component.

**What is the new behavior:**
Take the proof of concept (HTML/CSS) and implement it. This means take it from static and add React. Build it with the idea that in the future, there will be an user interface to add

[2020-01-14 23:53] lloan commented on #38
Blocked by #36 and #37

[2020-01-14 23:54] lloan commented on #28
Tasks #36 , #37 and #38 created for this story. Story will now be closed.

[2020-01-14 23:54] #28 closed

[2020-01-15 00:02] lloan opened #39 "Verify redirection path for when user logs in."
Components that require updating:
- redirection paths

Tech to be used:
- Typescript
- Next.js

**What is expected behavior:**
Once the user successfully logs in, they should be taken to their dashboard. Ideally, they should land to the home section of their dashboard, where they have an overview of what is going on.

[2020-01-15 00:02] lloan commented on #20
New task created to address this story #39

[2020-01-15 00:02] #20 closed

[2020-01-15 00:50] RA1990 commented on #31
How does this sound for the copy for spark?

Spark is a nonprofit dedicated to growing the tech community in the Inland Empire. Our work involves helping community members gain the skills and tools necessary to find employment in the local tech industry.This is accomplished by utilizing a Learning management system. A learning management system (LMS) is a software application for the administratio

[2020-01-15 15:36] lloan commented on #23
This requires the following tasks:
- Design panel for user information input panel
- Create POC for user information input panel
- Implement POC for user information input panel

[2020-01-15 15:38] lloan opened #40 "Design user information input panel component"
**Components that require updating:**
- User information input panel: new component

**Tech to be used:**
- Design tools

**What is the current behavior:**
We currently don't have this panel component.

**What is the new behavior:**
Create a design PDF and for developers to convert it to code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make

[2020-01-15 15:39] lloan commented on #40
Panel view:
![image](https://user-images.githubusercontent.com/3924990/72447413-24b31a80-376a-11ea-8d4c-c0770a8c2cd6.png)

[2020-01-15 15:40] lloan commented on #40
Full view of panel within dashboard:

![image](https://user-images.githubusercontent.com/3924990/72447483-40b6bc00-376a-11ea-9b8b-c4648b03ebbc.png)

[2020-01-15 15:41] lloan commented on #40
PDF files for design

Note: Focus only on the component within task - disregard the other components (sidebar and navigation)

[dashboard-settings.pdf](https://github.com/inland-empire-software-development/spark/files/4065669/dashboard-settings.pdf)
[dashboard-settings-focus.pdf](https://github.com/inland-empire-software-development/spark/files/4065670/dashboard-settings-focus.pdf)

[2020-01-15 15:43] lloan opened #41 "Proof of concept for user information input panel component"
**Components that require updating:**
- User information input panel component: new component

**Tech to be used:**
- UIKit
- HTML/SASS
- Fontawesome Pro

**What is the current behavior:**
We currently don't have a User information input panel component.

**What is the new behavior:**
Create a proof of concept using Storybook.js. Take the design PDF and convert it to code. You will be using UIKit

[2020-01-15 15:45] lloan opened #42 "Implement Proof of concept for user information input panel component"
**Components that require updating:**
- user information input panel component

**Tech to be used:**
- Next.js
- React
- Typescript

**What is the current behavior:**
We currently don't have a user information input panel component.

**What is the new behavior:**
Take the proof of concept (HTML/CSS) and implement it. This means take it from static and make it dynamic using React.

**Justification:

[2020-01-15 15:45] lloan commented on #42
Blocked until #41 is complete

[2020-01-15 15:45] lloan commented on #41
Blocked until #40 is complete

[2020-01-15 16:52] lloan commented on #23
Issues #40 #41 #42 created to take care of this story. Closing this and labeling as groomed.

[2020-01-15 16:52] #23 closed

[2020-01-15 22:36] lloan opened #44 "Create Jenkins jobs for all tiers - deployment trigger."
**Components that require updating:**
- Jenkins

**Tech to be used:**
- Jenkins
- Shell
- GitHub

**What is the current behavior:** We don't have any Jenkins jobs for this project.

**What is the new behavior:** We need a job for each tier: PRD, STG and DEV. These jobs need to update the VM with the new files from the repository after resetting the respective directory and then rebuild.

**Justifi

[2020-01-16 00:33] Maxbrain0 commented on #30
Hey, I didn't realize I'd posted conversation in the [next-authenticate issue](https://github.com/lloan/next-authenticate/issues/8). We have IDE support in my current state. My only question is which properties does the context need? You were providing the whole state previously. Do we need _isPublic_ and _redirect_ in the pages? Anyhow, it's easy enough to tweak in the future.

Also, any opinions

[2020-01-16 02:24] hotRedPanda1 opened #45 "[wip] Create HELP Button"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
There should be a HELP button on the site somewhere.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
The must be a substantial FAQ to match query to before it gets turned over to support cre

[2020-01-16 02:25] lloan commented on #30
So all the pages should have access to the store and be able to only consume what they need. With what you did, it should be easier for team members to see what hey have access to, so that's wonderful. Each page will definitely use `user, isPublic, redirect and access` - we will be using this to provide data to the components, but can' foresee what other items we will input in there yet.

[2020-01-16 02:35] hotRedPanda1 commented on #36
There should be a link to the ABOUT page.
There should be a link to a HELP page.
There should be a HOME tab
There should be  BACK & FORWARD  buttons.

[2020-01-16 02:36] lloan commented on #36
@hotRedPanda1 great input, I will make sure to add this where possible within the design once its revised this week.

[2020-01-16 02:37] hotRedPanda1 commented on #36
@lloan
Thank you!

[2020-01-16 03:14] hotRedPanda1 opened #47 "//WIP// User Profile Dropdown"
**Is your feature request related to a problem? Please describe.*
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I do not like when I have to hunt to find out where to edit my profile. It should be in a drop down under the user's profile picture/avatar.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Wh

[2020-01-16 15:37] hotRedPanda1 opened #48 "Create a Blog page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I like reading through blogs related to work-life in the tech industry.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
(1) There should be various articles posted after a severe review and

[2020-01-16 17:26] lloan commented on #48
@hotRedPanda1 This is great, but we actually could use this on www.iesd.com - if you visit the site, one of the first components you see is the `newsroom`, but we don't have an actual page dedicated to the newsroom, which I think would be very helpful, specially as we have people that actually want to start writing. Maybe this issue might be better fitted for this repo: https://github.com/inland-e

[2020-01-16 18:00] RA1990 commented on #44
I'll take this one

[2020-01-16 18:24] lloan commented on #44
So I think @Andymendez100 wants to take this one so he can learn how to work with Jenkins. Did you have experience with Jenkins or wanted to learn how to work with Jenkins, cause if so, I could get on a call with both of you and we could do one together and then you could each set up a job by yourselves.

[2020-01-16 18:29] RA1990 commented on #44
Yea that sounds great. I don't have any experience with Jenkins

[2020-01-17 03:37] Andymendez100 commented on #33
Everything in the checklist has been done. Please tell me if anything else needs to be done associated with this issue. 😄 @lloan

[2020-01-17 03:39] Andymendez100 commented on #34
@lloan @tonynguyen111997 Per conversation with Tony. This has been completed already.

[2020-01-17 03:49] lloan commented on #33
Looks good - thanks!

[2020-01-17 03:50] #33 closed

[2020-01-17 03:50] lloan commented on #34
Thanks for testing - much appreciated!

[2020-01-17 03:50] #34 closed

[2020-01-17 05:45] Andymendez100 commented on #32
I have created the db's and users. I have not set any privileges to any of the users. Let me know if anything else is needed @lloan

[2020-01-17 20:59] lloan commented on #36
@hotRedPanda1 as of now, the about content will be under the `cohorts` item in the navigation. The `help` item will be on the sidebar within the dashboard to provide help for students. The `home` item has been added. And the back and forth between pages will be done by a component called the `breadcrumb` component.

[2020-01-17 21:01] Andymendez100 commented on #44
We have to make sure we have a script in package.json called staging, production, and development to start the nextjs job

[2020-01-17 21:04] lloan commented on #36
Overall design:
![navigation-bar](https://user-images.githubusercontent.com/3924990/72645939-b452f780-3929-11ea-9f28-6ba8d1559c40.jpg)

Will be posting all assets in #38 - closing this one and marking as complete.

[2020-01-17 21:04] #36 closed

[2020-01-17 21:06] Andymendez100 commented on #44
The jenkins jobs have been created and only need to be added a script in the package.json to trigger. @lloan

[2020-01-17 21:21] lloan commented on #37
No longer blocked by #36

As we talked about, we can reuse work done for the www.iesd.com website, especially the mobile version of the navigation. For the initial version of the component you are building, build out a static version, don't worry about incoming data yet, just make sure the deliverable component that you submit is responsive and mobile ready.

Overall design:
![navigation-bar](http

[2020-01-17 21:46] lloan commented on #29
Pushing branch up the tiers to have members begin doing work. Requesting help from @Andymendez100 @dhuan008 to get someone working on this one.

[2020-01-18 00:15] hotRedPanda1 commented on #36
Why is there a cohorts button?  We are trying to make things less confusing
for the user, not cool and convoluted.

On Fri, Jan 17, 2020 at 1:04 PM lloan alas <notifications@github.com> wrote:

[2020-01-18 00:59] lloan commented on #32
@Andymendez100 make sure that each DB has its own user and password. Each DB user should have access to only that specific DB.

[2020-01-18 01:04] lloan commented on #36
The top navigation is omnipresent - there for the front-end and the backend (dashboard) - so it's going to have a link to go home, a link to read about the cohorts we lead (groups of people) - this would display the different cohorts we do, blog will go back to www.iesd.com's blog in the interim and contact would lead to a page with contact information and different avenues to inform the user abou

[2020-01-18 02:56] Andymendez100 commented on #32
@lloan that has already been done as well.

[2020-01-18 19:24] hotRedPanda1 commented on #36
No, I just needed to know its relevance and if there were a simpler
expression that stated the same thing (a synonym) that would not sound so
foriegn or scary to new comers.

On Fri, Jan 17, 2020, 5:04 PM lloan alas <notifications@github.com> wrote:

[2020-01-18 21:37] lloan opened #51 "Design Sidebar component"
**Components that require updating:**
- Dashboard Sidebar: new component

**Tech to be used:**
- Design tools

**What is the new component or item:**
Create a design PDF for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the implementation issue for this co

[2020-01-18 21:39] lloan opened #52 "Proof of concept for Sidebar component"
**Components that require updating:**
- New Sidebar component

**Tech to be used:**
- UIKit
- HTML/SASS
- Fontawesome Pro

**What is the current behavior:**
We currently don't have a sidebar component for use in the dashboard.

**Description:**
Create a proof of concept using Storybook.js. Take the design PDF and convert it to code. You will be using UIKit as the CSS library along with Fontawesome

[2020-01-18 21:41] lloan opened #53 "Implementation of sidebar component."
**Components that require updating:**
- Sidebar- a new component

**Tech to be used:**
- Next.js
- React
- Typescript

**What is the expected deliverable:**
Take the proof of concept (HTML/CSS) and implement it. This means take it from static and add React. Build it to be modular and without dependencies on other components.

**Justification:** vital component

[2020-01-18 21:41] lloan commented on #53
Blocked by #52 and #51

[2020-01-18 21:46] lloan commented on #51
Designs are ready:

PDF:
[dashboard-sidebar.pdf](https://github.com/inland-empire-software-development/spark/files/4081807/dashboard-sidebar.pdf)

JPG version:
![dashboard-sidebar](https://user-images.githubusercontent.com/3924990/72670929-5d682380-39f8-11ea-8b58-0fb9f3b0c187.jpg)

Design with notes for styling:
![dashboard-sidebar-notes](https://user-images.githubusercontent.com/3924990/72670933-

[2020-01-18 22:34] hotRedPanda1 commented on #48
I would love to head the newsroom project with your guidance and patience.
However, since that is a high priority, do you want me to work on that
instead of the Spark project? Or do you want me to focus on both projects?

On Thu, Jan 16, 2020 at 9:26 AM lloan alas <notifications@github.com> wrote:

[2020-01-18 23:35] lloan commented on #48
@hotRedPanda1 Definitely. As we talked about earlier today at the meeting, we would like to get this project out the door too as it would be very useful for the community to have. We have a lot of different kinds of topics to write about: updates, student journeys about their learning, tech articles, etc.

The way that you play in to this is that you bring your user experience and knowledge about

[2020-01-19 00:16] lloan commented on #37
Additional notes for navigation component, showing what happens to the user section and the navigation items on hover.

![navigation-revision-notes](https://user-images.githubusercontent.com/3924990/72672381-d625aa80-3a0d-11ea-8b39-c4a93a7ff2ea.jpg)
![navigation-revision](https://user-images.githubusercontent.com/3924990/72672382-d625aa80-3a0d-11ea-8a9d-3bd46fccb346.jpg)
[navigation-revision.pdf](

[2020-01-20 06:45] lloan commented on #47
Featured request addressed in #37

![image](https://user-images.githubusercontent.com/3924990/72704332-5252e780-3b0d-11ea-93ef-e8c992bdc86d.png)

[2020-01-20 07:08] #47 closed

[2020-01-20 08:32] lloan commented on #32
@Andymendez100 great job - thanks! Verified that it works.

[2020-01-20 08:32] #32 closed

[2020-01-20 08:32] lloan commented on #44
Will mark this complete once we move www.iesd.com to the performance + tier and verify that this works @Andymendez100

[2020-01-20 08:57] lloan opened #54 "Move www.iesd.com to performance + server"
**Components that require updating:**
- Jenkins

**Tech to be used:**
- Jenkins
- Shell
- GitHub

**What is the current behavior:** We don't have any Jenkins jobs for the www.iesd.com site on the new performance + server.

**What is the new behavior:** We need a job for each tier: PRD, STG and DEV. These jobs need to update the VM with the new files from the repository after resetting the respecti

[2020-01-20 10:19] lloan commented on #54
This can wait. Just realized we're pointing the A records to the new server in the meantime. We can transfer the api.iesd.com site first - that will require moving the WordPress instance as we depend on it as an API.

[2020-01-20 13:28] lloan commented on #52
Refer to #51 for design documents and notes.

[2020-01-20 15:18] lloan opened #59 "Dashboard page - Home page"
This is a three part task:
- [ ] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design PDF for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-01-20 15:57] lloan commented on #59
Design deliverables for issue:

PDF:
[dashboard-home.pdf](https://github.com/inland-empire-software-development/spark/files/4086956/dashboard-home.pdf)

JPGs:
![dashboard-home-notes](https://user-images.githubusercontent.com/3924990/72740441-84d70180-3b5a-11ea-9a7b-9e627fb5937d.jpg)
![dashboard-home](https://user-images.githubusercontent.com/3924990/72740442-84d70180-3b5a-11ea-9bdc-2d1a767aee07.jp

[2020-01-20 16:13] lloan opened #60 "Dashboard page - All Courses"
This is a three part task:
- [ ] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design PDF for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-01-20 16:15] lloan commented on #60
Design deliverables for issue:

PDF:
[dashboard-all-courses.pdf](https://github.com/inland-empire-software-development/spark/files/4087014/dashboard-all-courses.pdf)

JPGs:
![dashboard-all-courses](https://user-images.githubusercontent.com/3924990/72741664-f617b400-3b5c-11ea-88e1-f9602c85a5d8.jpg)
![dashboard-all-courses-notes](https://user-images.githubusercontent.com/3924990/72741684-00d24900-3b

[2020-01-20 16:17] lloan commented on #27
Dashboard has been designed.

Components required to complete dashboard include a sidebar, global navigation, content panel and the various pages required by the dashboard. Overall design is complete.

![dashboard-home](https://user-images.githubusercontent.com/3924990/72741806-4131c700-3b5d-11ea-85a7-3a193d2825ef.jpg)

[2020-01-20 16:17] #27 closed

[2020-01-20 16:19] lloan commented on #53
Design can be found in #51 - ready to be picked up

[2020-01-20 16:20] lloan commented on #51
Proof of concept #52 - closing this and marking as complete.

[2020-01-20 16:20] #51 closed

[2020-01-20 16:22] lloan commented on #41
Design complete and can be found in #40 - ready to be picked up.

[2020-01-20 16:23] lloan commented on #40
Closing this issue. Proof of concept to be done in #41

[2020-01-20 16:23] #40 closed

[2020-01-20 16:24] lloan commented on #30
This was merged in #46 - pushed to all tiers.

[2020-01-20 16:24] #30 closed

[2020-01-20 16:28] lloan commented on #36
Navigation notes:
![navigation-bar-notes](https://user-images.githubusercontent.com/3924990/72742534-ca95c900-3b5e-11ea-9708-83e740db0538.jpg)

[2020-01-20 16:33] lloan commented on #36
Navigation - Active state:

PDF: [navigation-revision.pdf](https://github.com/inland-empire-software-development/spark/files/4087089/navigation-revision.pdf)

JPGs:
![navigation-revision](https://user-images.githubusercontent.com/3924990/72742879-7b9c6380-3b5f-11ea-8290-5764e86f7c11.jpg)
![navigation-revision-notes](https://user-images.githubusercontent.com/3924990/72742880-7c34fa00-3b5f-11ea-94d4

[2020-01-20 16:44] lloan commented on #36
To include the help button request from #45 :

![navigation-revision-v2](https://user-images.githubusercontent.com/3924990/72743574-cbc7f580-3b60-11ea-81c4-21a0f42234d2.jpg)
![navigation-revision-v2-notes](https://user-images.githubusercontent.com/3924990/72743577-cbc7f580-3b60-11ea-92a1-c00e75cff287.jpg)

[2020-01-20 16:46] lloan commented on #45
Addressed in #36

[2020-01-20 16:46] #45 closed

[2020-01-20 16:58] lloan opened #61 "Dashboard page - Add Course"
This is a three part task:
- [ ] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design PDF for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-01-20 16:59] lloan commented on #61
Design for page where instructor adds a course is ready.

PDF:
[dashboard_add_course.pdf](https://github.com/inland-empire-software-development/spark/files/4087181/dashboard_add_course.pdf)

JPGs:
![dashboard-add-course-notes](https://user-images.githubusercontent.com/3924990/72744805-22ceca00-3b63-11ea-93fa-6d7061d9a19c.jpg)
![dashboard_add_course](https://user-images.githubusercontent.com/392499

[2020-01-20 17:00] lloan commented on #18
Broken down to a more specific set of tasks [design, proof of concept and implementation]

Issue that addresses this -> #61

[2020-01-20 17:01] #18 closed

[2020-01-20 17:09] lloan opened #62 "Add support for Storybook.js"
@RA1990 you can upload your screenshots here.

We will be using storybook to self document our components, keep track of the states of components and prevent regressions.

[2020-01-20 17:31] lloan commented on #53
@Maxbrain0

For mobile, this will be using the offcanvas component from UIKit - you can wrap this within the offcanvas and make it slide from the left. The global nav slides from the right. You can see how this offcanvas component works on www.iesd.com (mobile).

resource link: https://getuikit.com/docs/offcanvas

[2020-01-20 17:35] lloan opened #63 "Update SASS base styling"
Update the `_colors.scss` file to reflect new spark branding.
Add font files to `public/static/fonts` - Avenir (light, medium, heavy, book) and Big John

[2020-01-20 17:44] RA1990 commented on #60
i'll take this one

[2020-01-20 17:49] lloan opened #64 "Add all branding assets to project"
- [ ] add all branding assets (logos, primary and simplified)
- [ ] add branding guidelines to project (separate branch with increased documentation (secondary priority)

[2020-01-20 18:10] lloan opened #65 "New user_meta table for user information"
Need to create a user_meta table for information that will be displayed throughout the site for a user, such as their profile information, user profile image, etc.

[2020-01-20 18:49] RA1990 commented on #62
PR https://github.com/inland-empire-software-development/spark/pull/66

[2020-01-21 01:10] Maxbrain0 commented on #39
So it looks like the user is already sent to the dashboard page.

Are we thinking that any more data should be passed to dashboard, or should we create a dynamic path?

I don't think we need a dynamic path as we should have the user id available to fetch user data on mounting/rendering the dashboard.

[2020-01-21 01:53] lloan commented on #39
@Maxbrain0 sounds good.

What would be the benefit of using `Router` in our current setup?

[2020-01-21 02:51] Maxbrain0 commented on #39
@lloan, now that I look at it, I think using router would break our Authentication setup. I think (only think, not certain), that setting document.location.href actually reloads the whole application. This givens the chance for the _app to do its redirect lookup and set the user in the context.

If I just execute a router.push("/dashboard") on a successful post to the user login, user is still nul

[2020-01-21 03:25] Maxbrain0 commented on #39
Ok I have a picture of the network activity with the current navigation and using the with router. I clear the network activity, and then login.

[Code changes](https://github.com/Maxbrain0/spark/commit/5756d6299387e2bd5c77b4799d6769316c21eacf)

## As is
Note that all of the CSS and application is reloaded (but thank goodness for caching)
![Post Login Set href](https://user-images.githubuserconten

[2020-01-23 03:39] lloan commented on #62
support for storybook has been added with `storybook-config` branch - @RA1990  can you test it out. Finishing the refactoring of the last few remaining components.

[2020-01-23 03:43] lloan opened #70 "New course_meta, course tables for course information"
We need two tables created.
- [ ] course_meta
- [ ] course

These tables will be used to provide data on courses. Fields required will be provided by rest of the team.

[2020-01-23 03:44] lloan commented on #70
@RA1990 can you provide a list of preliminary fields that you see we need, based on he image.

[2020-01-23 03:45] RA1990 commented on #70
yes I can I think maybe no yes I can

[2020-01-23 04:15] RA1990 commented on #70
fields required
- [ ] Course instructor
- [ ] If User is Enrolled
- [ ] if User Cancelled
- [ ] Image
- [ ] Course description
- [ ] Users
- [ ] Users Comments
- [ ] Course star ranking

[2020-01-23 23:58] RA1990 commented on #60
PR https://github.com/inland-empire-software-development/spark/pull/71
<img width="1440" alt="Screen Shot 2020-01-23 at 3 40 16 PM" src="https://user-images.githubusercontent.com/48893842/73034221-3004e680-3df9-11ea-87a4-0c880778fffa.png">

[2020-01-24 09:55] tonynguyen111997 commented on #54
dev.iesd.com, staging.iesd.com and iesd.com are now on the new p+ server. I'm going to move this issue into testing.

[2020-01-24 10:13] tonynguyen111997 commented on #54
@Andymendez100 @dhuan008 Can you please check to make sure everything is working?

[2020-01-25 09:39] tonynguyen111997 commented on #54
**Steps taken to migrate iesd.com to p+ server**

1. su - jenkins
2. navigate to where the project folder will be
3. Clone repo
4. Give jenkins permission of files (sudo chown jenkins:jenkins -R ./folder_name)
5. cd into folder
6. sudo yarn install
7. sudo yarn build (If it's a NEXT application)
7.  sudo pm2 start "sudo yarn script_name" --name pm2_service_name
8. cd /etc/nginx/conf.d
9. touch dom

[2020-01-27 00:07] lloan opened #72 "SignUp component requires CSS tweak"
**Describe the bug**
Sign up form needs to be tightened up and tested to work on mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'localhost:3000/authenticate'
2. Click on the signup tab

**Expected behavior**
The signup component should not bounce when viewing the password. Users should be able to click on show/hide password without the bottom element hiding half of the clickin

[2020-01-27 09:23] lloan commented on #62
Support for storybook has been added. You can check dev branch.

[2020-01-27 09:23] #62 closed

[2020-01-28 00:49] lloan commented on #31
#83 finalizes this - pushed to master - dev & stg are updated.

[2020-01-28 00:49] #31 closed

[2020-01-28 00:51] lloan commented on #37
@saynegrojas make sure to pull latest changes. I would just create a new branch from master and start your work from there.

[2020-01-28 01:22] lloan commented on #37
Take a look at the 00037-navigation-poc branch @saynegrojas

[2020-01-30 22:15] #63 closed

[2020-01-31 00:01] RA1990 commented on #60
pr https://github.com/inland-empire-software-development/spark/pull/93

[2020-01-31 03:10] Maxbrain0 commented on #39
The redirect on login seems to be working still. Don't know if we just close this.

[2020-01-31 03:15] Maxbrain0 opened #94 "Login button at index page doesn't route to /authenticate"
**Describe the bug**
The Login button from the home page makes no redirection.

**To Reproduce**
1. run
`yarn dev`
2. Open localhost:3000 in the browser.
3. Click the "Login" button in the center of the page

You are  not sent to  localhost:3000/authenticate

**Expected behavior**
You are sent to loc

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please c

[2020-01-31 04:07] Maxbrain0 commented on #94
Looking at it, I don't think setting the href property on the button does anything as there is no anchor tag. All other uses of button use the callback property to set the new url, though I'm not really sure what the button wrapper Component is doing for us. I feel like you can use jsx listeners and UI-kit classnames to get the effect you want. But maybe it enforces some standard button types for

[2020-01-31 04:14] lloan commented on #94
The button component needs to be cleaned up a bit. It should no longer be used for linking to things - that's what anchor tags are for and if they're internal links, we can use the `<Link` component. Right now, the main purpose for the buttons are to submit forms or data (actions) - we can add styling to anchors to look like buttons if we want, but they wouldn't need any further logic, so we would

[2020-02-01 06:46] lloan commented on #94
Button component was removed - we will no longer use it, we will use UIKit styling out of the box with minor customizations as needed. Links (that go elsewhere and don't provide side effects [not actions]) will be used for anchor tags `<Link>` as this provides the routing capability that is out of the box with next.js.

[2020-02-01 06:46] #94 closed

[2020-02-01 06:47] #54 closed

[2020-02-03 17:31] lloan commented on #60
@RA1990  will be taking a look at this today and providing any feedback I have.

[2020-02-03 20:51] Maxbrain0 commented on #53
@lloan, my component from #52, already implemented much of React. I misunderstood how the tasks would be broken up. I think this can be "unblocked."

If you think it's ok, I can make a new branch and continue to add mobile support and some knobs to storybook (for example, to toggle the menu on mobile). I can add a close button inside of the sidebar for mobile.

I don't think this will take more th

[2020-02-03 22:29] lloan commented on #53
This works fine @Maxbrain0 - only reason I split them up is in case we had people who only wanted to build the static version of it. But this sounds great.

Thanks!

[2020-02-03 22:30] lloan commented on #52
Closing this task as you already created a PoC and are now working on implementation. Thanks!

[2020-02-03 22:30] #52 closed

[2020-02-03 22:32] lloan commented on #44
All jobs created -

spark.iesd.com - prd branch
spark-stg.iesd.com - stg branch
spark-dev.iesd.com - dev branch

[2020-02-03 22:32] #44 closed

[2020-02-03 22:34] lloan commented on #37
@saynegrojas once you're ready to pass this one on, let me know here. I think its almost across the finish line - thanks a ton!

[2020-02-12 19:49] lloan commented on #70
This is complete and can be found in the local spark database.

[2020-02-12 19:49] #70 closed

[2020-02-12 19:50] lloan commented on #65
This is complete and can be found in the spark local database.

[2020-02-12 19:50] #65 closed

[2020-02-24 01:21] RA1990 commented on #60
pr https://github.com/inland-empire-software-development/spark/pull/102

[2020-03-02 17:04] lloan commented on #61
@Andymendez100

Addressing PR #107

This looks very good so far. Take a look at my screenshot below.

Items to address:
- [ ] - mobile version
- [ ] - implementation
- [ ] - missing interaction (example - clicking on add video -> generation of new rows to add videos)
- [ ] - course start/expire[end really] - missing a date popup (calendar)

![addCourse](https://user-images.githubusercontent.com/39

[2020-03-02 18:06] tonynguyen111997 opened #108 "README is missing Spark Logo"
**Describe the bug**
README.md is not displaying the Spark Logo

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/inland-empire-software-development/spark
2. Scroll down to README

**Expected behavior**
Show the spark logo

**Screenshots**
![image](https://user-images.githubusercontent.com/36907562/75703810-0eefab00-5c6d-11ea-9fdc-1f1d835d7f18.png)

![image](https://us

[2020-03-02 20:05] #29 closed

[2020-03-02 20:05] #37 closed

[2020-03-02 20:05] #38 closed

[2020-03-02 20:05] #39 closed

[2020-03-02 21:03] JacobSNGoodwin commented on #24
@lloan and @Andymendez100m, do I need to create an updateUser method on db in lib/db.ts? I don't think it exists yet. Maybe it's somewhere else.

... just wrapping my head around the architecture. As I understand it, the endpoints in pages/api are calling the actual db methods in lib/db.ts.

[2020-03-03 17:42] lloan commented on #108
@RA1990  is this something you can tackle? Thanks!

[2020-03-03 17:50] RA1990 commented on #108
on it

[2020-03-03 17:51] lloan commented on #108
Thanks, @RA1990 - assigning the task to you - thanks!

[2020-03-05 04:39] VelazquezLuis commented on #72
fixed done @lloan

[2020-03-06 00:13] lloan commented on #108
Thanks @RA1990 looks like this has been merged.

[2020-03-06 00:13] #108 closed

[2020-03-06 04:35] JacobSNGoodwin commented on #24
Any thoughts on the flow of this? Any ways you've seen this done before?

Right now when logging in, we're getting the user and checking their password. Would the most sensible thing to do be to update the user table after this has all been completed successfully? It would require multiple SQL queries, but it would be certain we have a valid login before updating the table.

I know there is also a

[2020-03-07 22:26] zootechdrum commented on #72
Is this issue still open. It looks like @VelazquezLuis fixed it.

[2020-03-10 08:40] lloan commented on #59
This is ready to be assigned to someone.

[2020-03-10 08:41] lloan commented on #72
Great job @VelazquezLuis!

Thanks for following up @zootechdrum

[2020-03-10 08:41] #72 closed

[2020-03-10 09:12] lloan opened #115 "Home - Landing Page"
This is a three part task:
- [ ] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design PDF for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-03-10 09:21] lloan commented on #115
Both design over and specs sheet provided. Page ready to be built.

JPGs: (specs and design)
![home-landing-page-specs](https://user-images.githubusercontent.com/3924990/76297764-a197d780-6275-11ea-86e8-5f084d109a17.jpg)
![home-landing-page](https://user-images.githubusercontent.com/3924990/76297785-a8264f00-6275-11ea-81f8-dd49a21ccb94.jpg)

PDFs: (specs)
[home-landing-page-specs.pdf](https://gith

[2020-03-10 09:22] lloan commented on #25
#115 has been created to address this story. Closing issue.

[2020-03-10 09:22] #25 closed

[2020-03-10 09:28] lloan commented on #64
Branding assets added. Attaching branding guidelines for posterity.

Branding Guidelines:
[brand-guidelines-web.pdf](https://github.com/inland-empire-software-development/spark/files/4311414/brand-guidelines-web.pdf)

[2020-03-10 09:28] #64 closed

[2020-03-10 09:41] lloan commented on #24
Left a note on #113 - I think we can approach it the way you suggested. I can't imagine we will ever have 1000 users. Obviously, this wouldn't scale, but for v1 it should be fine. We can worry about optimization for v2.

[2020-03-10 09:42] lloan opened #116 "User profile page - Frontend"
This is a three part task:
- [ ] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design PDF for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-03-10 09:54] lloan commented on #116
Design overview and specs sheet provided:

This item is ready to be picked up.

JPGs:
![user-profile-front](https://user-images.githubusercontent.com/3924990/76300643-4ddbbd00-627a-11ea-9b79-6bf5ccaaaa9b.jpg)
![user-profile-front-specs](https://user-images.githubusercontent.com/3924990/76300652-53390780-627a-11ea-84d1-397f322b6d0b.jpg)

PDFs:
[user-profile-front.pdf](https://github.com/inland-empi

[2020-03-10 17:38] lloan commented on #115
@tonynguyen111997  @HeyItsFelipe  @VelazquezLuis  need some help finding images to put within the placeholder sections of the design. Maybe we can do a photoshoot or something just for this? Let me know :)

[2020-03-10 17:44] lloan commented on #60
@RA1990 as discussed in the morning call, just update this with a few notes and we can assign to Cesar or Amber. Thanks!

[2020-03-10 17:48] lloan commented on #116
@VelazquezLuis assigning this page to you - if you need any help getting started, please let me know and we can hop on a call any time this week. Thanks!

[2020-03-10 17:54] lloan commented on #59
@zootechdrum assigning this to you, please take a look and let me know if you need any help getting started. Thanks a ton!

[2020-03-11 02:53] zootechdrum commented on #59
hey @lloan. So i am thinking of creating a notification component, a cohort component, and a status component (upper bar) I then assume someone will import these into the pages directory eventually?

[2020-03-11 02:54] RA1990 commented on #60
hey guys and gals this component is all show no go aka no functionality
 things for css

1. align text center on mobile for course description introduction to web development section

2. double check responsiveness

3. design specification

4. give yourself a high five because your awesome : )

[2020-03-11 04:15] zootechdrum opened #117 "Notification is cut off when an error occurs after creating account."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:3000/authenticate
2. Click on create account
3. Scroll down to '....'
4. See error notification that appears on top.

**Expected behavior**
I should be able to clearly see the notification after error occurs

**Screenshots**

**Desktop (please comple

[2020-03-15 04:32] lloan commented on #117
@amacbain1 this is a CSS task, let me know if you want to take it.

Thanks!

[2020-03-15 04:33] lloan commented on #41
@dhuan008 great job - looks great. Please move forward with implementation.

[2020-03-15 04:33] #41 closed

[2020-03-15 16:59] amacbain1 commented on #117
Yes sir I would @lloan.

[2020-03-15 20:30] lloan commented on #53
@JacobSNGoodwin this is done right? Anything else you are working on for this component? Otherwise, let's mark it closed and move it to completed. Thanks a ton!

[2020-03-15 21:17] JacobSNGoodwin commented on #53
@lloan, Yeah, it's done. Maintaining the scroll state was the only upgrade I didn't get to.

[2020-03-15 21:31] #53 closed

[2020-03-16 07:24] lloan commented on #24
Personally tested and this works on dev at the moment. Thanks, @JacobSNGoodwin !

[2020-03-16 07:24] #24 closed

[2020-03-16 08:04] lloan opened #120 "Messages Page"
This is a three part task:
- [ ] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design PDF for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-03-16 08:12] lloan commented on #22
#120 addresses this story.

[2020-03-16 08:12] #22 closed

[2020-03-16 09:41] lloan commented on #120
Design deliverables for issue:

Design:
![messages](https://user-images.githubusercontent.com/3924990/76743077-4cedd400-672f-11ea-9bca-d8fbde095cf0.jpg)
[messages.pdf](https://github.com/inland-empire-software-development/spark/files/4337350/messages.pdf)

Specs:
![messages-specs](https://user-images.githubusercontent.com/3924990/76743082-50815b00-672f-11ea-9405-6f46275b607c.jpg)
[messages-specs.p

[2020-03-16 09:54] lloan opened #121 "Create and implement breadcrumb component."
**Components that require updating:**
- Breadcrumb - a new component

**Tech to be used:**
- Next.js
- React
- Typescript

**What is the expected deliverable:**
Take the provided design, build it and implement it. Build it to be modular and without dependencies on other components. Breadcrumb should be dynamic. The component will be used within the panel component.

**Justification:** Vital compon

[2020-03-17 02:09] lloan commented on #115
@saynegrojas how is this going?

[2020-03-17 02:11] lloan commented on #116
Just posting an update. Today you started working on this, your setup is ready to go. Thanks for getting on a call @VelazquezLuis!

[2020-03-17 02:12] lloan commented on #61
@Andymendez100 how is this coming along? @kvera001 can you make sure to keep this one moving? Its very important for v1 - thanks a ton!

[2020-03-17 02:13] VelazquezLuis commented on #116
Thanks, @kvera001 reminded yesterday props to her for great leadership

[2020-03-17 02:13] lloan commented on #60
@RA1990 - just to confirm, you are handing this one off right? Thanks a ton! Going to take you off this for now.

[2020-03-17 02:15] lloan commented on #59
@zootechdrum I know we were on a call yesterday. You were able to get your setup going. Apart from that, everything going well? Thanks!

[2020-03-17 07:57] lloan opened #122 "Dashboard page - Manage Students"
This is a three part task:
- [x] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design PDF for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-03-17 09:01] lloan commented on #21
Addressed by #122 - closing this now

[2020-03-17 09:01] #21 closed

[2020-03-17 17:06] Andymendez100 commented on #61
@lloan @kvera001 Finished with the file upload portion. Will now be working on save whatever pictures on the server in a seperate file. As well as posting the data to the back end

[2020-03-17 17:27] JacobSNGoodwin commented on #122
@kvera001 and @lloan, are we breaking out the proof on concept and implementation into separate tasks or should I just operate from here and add this to in progress in the MVP project?

I can still work on it for now. But just trying to keep track of it.

-Guy who still knows nothing about project management

[2020-03-17 17:45] JacobSNGoodwin commented on #122
Also, I'm not sure where we want this page to sit. For now I guess anywhere, but so far the navigation system of the dashboard does not have any role awareness (ie, student vs teacher).

[2020-03-19 01:32] lloan opened #124 "Dashboard page - Single Course View"
This is a three part task:
- [x] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design doc for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-03-19 01:36] lloan opened #125 "Dashboard page - Single Course Quiz View"
This is a three-part task:
- [x] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design doc for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-03-19 01:38] lloan opened #126 "Dashboard page - Single Course Lecture View"
This is a three-part task:
- [x] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design doc for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-03-19 01:40] lloan opened #127 "Dashboard page - Single Course Project View"
This is a three-part task:
- [x] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design doc for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-03-19 01:43] lloan opened #128 "Dashboard page - Single Quiz View"
This is a three-part task:
- [x] Design the new page
- [ ] Create the proof of concept
- [ ] Implement the proof of concept

### **Design**
**What is the new component or item:**
Create a design doc for developers to create a static copy with code. You will be using UIKit components along with Fontawesome PRO icons. Any comments you need to make, make them in the discussion of the issue or the imp

[2020-03-19 03:34] JacobSNGoodwin commented on #122
I basically dig up the design and have the checkboxes and course selection working. Right now I just emit an method on props when manage, view, or delete is called.

I figure this methods will be handled at the page level and reset the component data.

Right now I'll probably need some help writing queries to get students for a teacher. Right now I see a single teacher "2" in course_meta.

[2020-03-19 04:45] lloan commented on #2
#124 addresses this issue.

[2020-03-19 04:45] #2 closed

[2020-03-19 04:45] lloan commented on #3
#124 addresses this issue.

[2020-03-19 04:45] #3 closed

[2020-03-19 04:45] lloan commented on #5
#124 addresses this issue.

[2020-03-19 04:45] #5 closed

[2020-03-19 04:46] lloan commented on #11
#124 addresses this issue.

[2020-03-19 04:46] #11 closed

[2020-03-19 04:46] lloan commented on #12
#126 addresses this issue.

[2020-03-19 04:46] #12 closed

[2020-03-19 04:46] lloan commented on #15
#127 addresses this issue.

[2020-03-19 04:46] #15 closed

[2020-03-19 04:49] lloan commented on #4
#127 addresses this issue - you can submit projects now.

[2020-03-19 04:49] #4 closed

[2020-03-20 02:11] lloan commented on #122
Checking this out - thanks!

[2020-03-20 05:37] lloan commented on #122
@JacobSNGoodwin this looks great. Going to modify the DB to aid in this.

[2020-03-23 21:51] JacobSNGoodwin commented on #122
I just added a utility method in to the dashboard/students page to map the API data format to the format of the courses property of the ManageStudents component. We could do this in the API as well, it just depends on the architecture we want. Since we're not dealing with a large data set, I'm find with doing this as I have.

I also added basic handlers for clicking managing a user, viewing a user

[2020-03-24 16:27] lloan commented on #115
@saynegrojas Hi Greg! Any update on this one? Thanks!

[2020-03-24 16:29] lloan commented on #59
@zootechdrum Hi, when do you want to get on a call to get you moving forward? Thanks!

[2020-03-24 18:20] saynegrojas commented on #115
@lloan Lloan, I've got the top half 90% complete on the proof of concept. I'll be working on the lower half as soon as I can.

[2020-04-24 15:56] JacobSNGoodwin commented on #115
@lloan and @saynegrojas , I got asked to finish this up by @kvera001.

Underneath the React Fundamentals course, there are some little dots. Is the course supposed to scroll? Just making sure that's the idea there, so I can add the proper data property (I can add multiple course examples as data into the component.

[2020-04-24 19:21] lloan commented on #115
@JacobSNGoodwin for now, let's skip them as we will only have one item showing up. But in the future, yes, it would scroll.

[2020-04-24 21:49] erik-sandoval commented on #127
Is this task available?

[2020-04-28 21:40] JacobSNGoodwin commented on #115
I have this working pretty well design wise.  I may have some questions about the data structure we want, but I'll get on adding react props soon.

https://github.com/inland-empire-software-development/spark/tree/landing-page-115-jg

[2020-05-01 22:46] JacobSNGoodwin commented on #115
Hey guys, I'm adding some sample data to be passed into this component with react props.

Do you have any sample images as @lloan requested a while back?

[2020-05-04 15:38] JacobSNGoodwin commented on #115
I just implemented the react props for this which can are demoed in storybook. #135 should close this when merged.

[2020-05-16 03:50] JacobSNGoodwin commented on #59
@kvera001 asked me to take this on.

Do we want to start with a limited set of message types that a user can receive?

This component is probably one of the easiest in terms of markup as there's no need for forms nor anything really dynamic doing on. But like, is this just a dashboard for teachers? What are bookmarks? What is the weekly content? A syllabus?

[2020-05-18 04:52] lloan commented on #115
Hi @JacobSNGoodwin can you do me a favor? Can you include the steps for testing? Meaning, what page do I load, is it in storybook or not, etc.

Thanks! I will have time this week as I'm almost done with my two large projects at work. Thanks a ton for the work you do!

[2020-05-18 16:05] JacobSNGoodwin commented on #115
@lloan, I'll add details to the PR #138

[2020-05-19 18:57] JacobSNGoodwin commented on #59
I just added the basic design and data to storybook on branch: https://github.com/inland-empire-software-development/spark/tree/059-dashboard-home.

You can play with this by running `yarn storybook` and opening "Dashboard Home."

I still don't quite understand the data and what we should be linking to from this page. For now, if you click on the items at the top (Messages, Students, Courses, Book

[2020-05-22 21:44] JacobSNGoodwin commented on #115
I just ended up merging it, #138. Don't know if we close this or not.

[2020-05-26 16:17] tonynguyen111997 opened #140 "Jenkins failing to build due to error in db.ts"
**Describe the bug**
For SparkDEV and SparkPRD, Jenkins is failing to build because 'fsyncSync' is declared but its
value is never used.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the IESD Jenkins dashboard
2. Click on 'iesd spark DEV' in the list of applications
3. On the left side click 'Build Now'
4. Under build history on the left side click on the # that represents the curren

[2020-05-31 23:30] Andymendez100 commented on #140
I see the variable got push in with this pull request. User info input #129
I will implement a fix and update code. Thanks @tonynguyen111997

[2020-05-31 23:54] dhuan008 commented on #140
@Andymendez100 That's my pr, I think I pulled from uncompleted components my component interacts with. Let me know if I can help.

[2020-06-01 00:11] #140 closed